[submodule "SDL"]
	path = utils/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "utils/json"]
	path = utils/json
	url = https://github.com/nlohmann/json.git
[submodule "utils/stb"]
	path = utils/stb
	url = https://github.com/nothings/stb.git
